<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
		body{
			font-family:Helvetica, Arial, sans-serif;
			background-color:#ffffff;
		}
		a{
			color:#ff0000;
			text-decoration:none;
		}
		img{
			border:0;
			display:block;
		}
		.button3 {
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;

			-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
			box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);

			background: -moz-linear-gradient(19% 65% 90deg,#0087B4, #0099CC, #0099CC 51%);

			background: -webkit-gradient(linear, 0% 45%, 0% 60%, from(#0099CC), to(#0087B4));

			color:#f0f0f0;
			font-family:Helvetica,sans-serif;
			font-size:14px;
			font-weight:bold;
			padding:10px 25px;
			text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
			border: 1px solid #267ed4;
			margin: 100px, 0px, 100px, 0px;
		    text-align: center;
			line-height:100%;
		}
		.button3:hover{
			background: -moz-linear-gradient(10% 65% 90deg,#0082AD, #0099CC, #0099CC 41%);
			background: -webkit-gradient(linear, 0% 30%, 0% 45%, from(#0099CC), to(#0082AD));
			color: #ffffff;
		}
		#wrapper {
			width: 600px;
		}
	</style>
  </head>
  <body>
	<div id="wrapper">
	<img src="http://beta.tedxmidatlantic.com/wp-content/uploads/2012/07/logo.png" width="284" height="47" alt="TEDxMidAtlantic" style="border: 0;display: block;">
	
	<p>Dear <%=@badge.buyer_firstname%>,</p>
	
    <p class="intro">
 	  <%if @badge.bought_by_third_party? %>
      	It's time to create a badge for <a href="http://tedxmidatlantic.com">TEDxMidAtlantic 2012: Be Fearless</a> for <%= @badge.ticketholder%>.
	  <% else %>
		It's time to create your badge for <a href="http://tedxmidatlantic.com">TEDxMidAtlantic 2012: Be Fearless</a>!
	  <% end %>
    </p>
    <p style="margin: 40px;">
	  <%= link_to "Generate a badge for #{@badge.ticketholder}", edit_badge_url(@badge), :class => 'button3' %>
    </p>
	<ul>
		<li>Please complete this step by <%=18.hours.from_now.strftime('%A, %B %-d')%> so we can print the badge</li>
		<li>Once printed, <strong>badges are not transferrable</strong> &mdash; be sure the name and badge information is correct!</li>
		<% if @badge.bought_by_third_party? %>
			<li>If you purchased this ticket for <strong><%=@badge.ticketholder%></strong>, please forward this message to them so they can complete this step, or complete the badge for them as appropriate</li> 
			<li>Please provide a current email address for the <strong>person who will be using the badge</strong></li>
		<% end %>
		<li>All tickets are nonrefundable and cannot be changed</li>
		<li>We also would like you to indicate whether you would prefer a vegetarian meal</li>
		<li>If you do not complete this step the badge will be generated without your company, title, or other information</li>
	</ul>
    <p>We look forward to seeing you at the event!</p>

	<p>Sincerely,</p>
	<p><strong>The TEDxMidAtlantic Team</strong></p>
  </body>
</html>