<h1><%= Badge.count %> badges (<%= Badge.approved.count %>)</h1>

<table>

<% @badges.each do |badge| %>
  <tr>
    <td><%= badge.ticket_id %></td>
    <td><%= badge.badge_type %></td>
    <td><%= badge.firstname %></td>
    <td><%= badge.lastname %></td>
    <td><%= badge.buyer_firstname %></td>
    <td><%= badge.buyer_lastname %></td>
    <td><%= badge.title %></td>
    <td><%= badge.company %></td>
    <td><%= badge.approved_at %></td>
    <td><%= link_to 'Show', badge %></td>
    <td><%= link_to 'Edit', edit_badge_path(badge) %></td>
    <td><%= link_to 'Destroy', badge, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge', new_badge_path %>
